body, html {
    height: 100%;
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}
.wallpaper {
    background-image: url("https://i.imgur.com/7GkXjXq.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.fontFix {
    margin-top: 6px
}
.fontFixButton {
    margin-top: 10px;
}

/* Card Sizing */
.card {
    background-color:#ededed;
    display: block;
    margin: 40px auto 40px auto;
    
}
.card-img-top {
    width: 100px;
    height: auto;
}
.form-control-msg {
    height: 125px;
    width: 245px;
}
.btn {
    display: block;
    margin: 32px auto auto auto;
}
/* End Card Sizing */
.githubLogo {
    width: 20px;
    height: auto;
}