body, html {
    height: 100%;
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}
.wallpaper {
    background-image: url("https://i.imgur.com/7GkXjXq.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

.fontFix {
    margin-top: 6px
}

.card-img-top {
    width: 80px;
    height: auto;
}
.card {
    background-color:#ededed;
    display: block;
    margin: 40px;
}
.col-sm {
    margin: 20px;
}
.row {
    justify-content: left;
}
.githubLogo {
    width: 20px;
    height: auto;
}