/* Background */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.wallpaper {
    background-image: url("https://i.imgur.com/7GkXjXq.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}
/* End Background */

/* Navbar */
.navbar {
    font-family: 'Baloo Tammudu 2', cursive;
}

.fontFix {
    margin-top: 6px
}
.githubLogo {
    width: 20px;
    height: auto;
    margin-top: -5px;
}
/* End Background */

/* Card */
.card-img-top {
    width: 80px;
    height: auto;
}
.card {
    background-color:#ededed;
    display: block;
    margin: 40px 10px 40px 10px;
}
.portfolioText {
    margin: auto auto auto 0px;
}

.portfolioImage {
    height: 250px;
    width: auto;
}
/* End Card */

/* Footer */
#sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* End Footer */